body {
	font: small/1.6em Verdana, Helvetica, Arial, sans-serif;
	line-height: 1.6em;
	background: #ccffff;
}


.speshl {
	font-size: 110%;
	color: #607a7a;
}

h1 {
	font-size: 150%;
}

h2 {
	font-size: 130%;
	color: #607a7a;
}



#guarantee {
	line-height: 1.9em;
	font: italic small/2em Georgia, "Times New Roman", Times, serif;
	color: #444444;
	background: #a7cece url(images/background3.gif) top left no-repeat;
	padding: 25px;
	padding-left: 80px;
	margin: 30px;
	margin-right: 250px;
}

#elixirs {
	border: #007e7e solid thin;
	width: 200px;
	padding: 0px 20px 20px 20px;
	margin-left: 20px;
	text-align: center;
	background: repeat-x url(images/cocktail.gif);
	float: right;
}

#elixirs h2 {
	color: black;

}

#elixirs h3 {
	color: #d12c47;
}

#elixirs {
	line-height: 1;
}

#footer {
	font-size: 50%;
	text-align: center;

	margin-top: 30px;
}

.cd {
	font-style: italic;
}

.artist {
	font-weight: bold;
}

a:link {
	color: #007e7e;
}

a:visited {
	color: #333333;
}

#elixirs a:link {
	color: #007e7e;
}

#elixirs a:visited {
	color: #333333;
}

#elixirs a:hover {
	background: #f88396;
	color: #0d5353;
}

.link_home {
	font-size: 140%;
	text-decoration: dashed;
}